* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(images/abstract-geometric-black-white-minimal-graphic-design-print-lines-pattern-background-84278382.webp);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background: black;
    padding: 40px;
    border-bottom: 3px solid black;
}

h1 {
    width: 50%;
    display: inline-block
}

nav {
    width: 45%;
    display: inline-block;
    text-align: right;
}

nav a {
    color: white;
    margin: 0 10px;
    text-align: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    background: black;
    padding: 10px 15px;
    border-radius: 5px;
}

main {
    width: 70%;
    display: inline-block;
    padding: 20px;
    background: white;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    background: white;
    padding: 20px;
}

p{
    margin: 15px 0;
    line-height: 140%;
}